* {
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    color: #333;
}

a {
    color: #333;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin: 35px 0 17px;
}

h2 {
    text-align: center;
    font-size: 29px;
    font-weight: 400;
    margin: 0;
    padding: 22px 0;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
}

.fs32 {
    font-size: 32px;
}

.fb {
    font-weight: bold;
}


.yellow-b {
    background-color: #ffcf3c;
    padding-left: 5px;
    padding-right: 5px;
}

.the-line {
    height: 1px;
    width: 225px;
    background: #CCCCCC;
    overflow: hidden;
    margin: 0 auto;
}

.c-red {
    color: #FF0000;
}

.tc {
    text-align: center;
}

.wrapper {
    max-width: 1280px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    margin: 0 auto 20px auto;
}

/* кнопки */
.button-1 {
    background-color: #0063B0;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    padding: 10px 0;
    min-width: 210px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.button-1:hover {
    background-color: rgba(0, 99, 176, 0.76);
}


/* заголовок и меню */
.header {
    background: #01518F;
    min-height: 40px;
    color: #ffffff;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.header .site-name {
    margin-left: 40px;
}

.header .site-name a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .site-name .logo-image {
    height: 40px;
    margin-right: 10px;
}

.header .menu {
    font-size: 14px;
    list-style: none;
    display: flex;
    margin: 0 40px 0 0;
    padding: 0;
    align-items: center;
}

.header .menu li {
    padding: 3px 20px;
}

.header .menu li a:hover {
    text-decoration: underline;
}

.header .menu .item-in-border {
    border: 1px solid #ffffff;
}

.header .menu .auth {
    padding: 3px 0 3px 30px;
    background: url("img/key.png") no-repeat 10px center;
}

/* первая секция */
#section_1 {
    background: #1e0a08 url("img/section1.jpg") no-repeat center top;
    background-size: cover;
    color: #fff;
    text-align: center;
    min-height: 505px;
}

#section_1 .logo {
    font-size: 18px;
    padding: 25px 0 0 0;
}

#section_1 .logo .title {
    margin-top: -10px;
}

#section_1 .the-line {
    background: #cccccc;
    width: 480px;
}

#section_1 .action {
    font-size: 18px;
    padding: 16px 0;
}

/* секция 2*/
#section_2 {
    background: url("img/bird.jpg") no-repeat right bottom;
    padding-bottom: 20px;
}

#section_2 .content-top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 630px;
    margin: 0 auto;
    padding: 18px 0 25px 0;
}

#section_2 .content-top .info {
    font-size: 14px;
    max-width: 250px;
    margin: 12px 0 0 0;
}

#section_2 .why {
    text-align: center;
    font-size: 14px;
    padding: 15px 0 20px 0;
}

#section_2 .list {
    display: flex;
    justify-content: center;
}

#section_2 .list .item {
    display: flex;
    align-items: start;
    margin: 0 15px;
}

#section_2 .list .item img {
    margin-right: 10px;
}
/* секция 3 */
#section_3 {
    background: #f4c844;
    padding-bottom: 50px;
}

#section_3 .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_3 .info {
    margin-right: 50px;
}

#section_3 .info .num {
    font-size: 32px;
    font-weight: bold;
}

#section_3 .info .text {
    font-size: 16px;
}
/* секция 4 */
#section_4 .section-description {
    font-size: 14px;
    text-align: center;
    padding: 15px 0 0 0;
}

#section_4 .peoples {
    display: flex;
    padding: 30px 0;
    justify-content: center;
}

#section_4 .peoples .item{
    margin: 0 25px;
    text-align: center;
    font-weight: bold;
    max-width: 100px;
}

#section_4 .peoples img {

}

.section-action{
    background: #e4e4e4;
    text-align: center;
    padding: 15px;
}

/* секция 8 */
#section_8 .clients {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 90px;
    padding-top: 30px;
}


#section_8 .clients .client {
    flex-basis: 25%;
    display: flex;
    margin-bottom: 20px;
}

#section_8 .clients .client .image {
    margin-right: 10px;
}

#section_8 .clients .client .description {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;

}

#section_8 .clients .client .description a {
    background: rgba(246, 227, 120, 1);
    display: block;
    width: 105px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin-top: 10px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.31);
}

#map {
    background: #4d67ac;
    min-height: 400px;
}


/* секция 10 */

#section_10 {
    padding: 0 0 40px 0;
}

#section_10 .sub-title {
    text-align: center;
    margin: 10px 0 20px 0;
}

#section_10 .container {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
}

#section_10 .counter {
    max-width: 500px;
    flex: 1 1 500px;
    border: 1px solid #cccccc;
    padding: 30px;
    display: flex;
    align-items: center;
}

#section_10 .counter .all {
    font-size: 30px;
    flex: 0 1 50%;
}

#section_10 .counter .all .num {
    font-size: 97px;
    color: #215789;
    font-weight: bold;
}

#section_10 .counter .detail {
    color: #ffffff;
}

#section_10 .counter .detail .item {
    background: #215789;
    text-align: right;
    font-size: 16px;
    padding: 5px;
    margin: 25px 0;
    position: relative;

}

#section_10 .counter .detail .item:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    top: -10px;
    left: 0;
    background: #215789;
}

#section_10 .counter .detail .item:nth-of-type(2) {
    background: #ab1922;
    width: 85%;
}

#section_10 .counter .detail .item:nth-of-type(2):before {
    background: #ab1922;
}

#section_10 .contacts .item {
    margin-bottom: 20px;
}

#section_10 .contacts .item:last-child {
    margin-bottom: 0;
}

#section_10 .contacts .item .item-title {
    font-size: 16px;
    max-width: 240px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid #cccccc;
}

#section_10 .contacts .item .button-1 {
    margin-top: 5px;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e4e4e4;
    color: #999999;
    padding: 20px 4%;
}

#footer a {
    color: #999999;
}

#footer .item-1 {
    display: flex;
    align-items: center;
}

#footer .item-1 img {
    margin-right: 10px;
}

#footer .item-1 .mail-link {
    text-decoration: none;
}


#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 800;
}

#order {
    background: #ffffff;
    width: 434px;

}

#order .title {
    padding: 20px 0 20px 0;
    background: #ffc931 url("img/bird2.jpg") no-repeat right bottom;

}

#order .title h3 {
    font-size: 36px;
    margin: 0;
    font-weight: normal;
    text-align: center;
}

#order .black-line {
    margin: 5px auto 15px auto;
    max-width: 216px;
    height: 1px;
    background: #000000;
    overflow: hidden;
}

#order .title-action {
    font-size: 16px;
    text-align: center;
}


#order .form {
    width: 210px;
    margin: 0 auto;
    padding: 20px 0 10px 0;
}

#order .form .field {
    font-weight: bold;
    margin-bottom: 10px;

}

#order .input-field {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    padding: 7px 0;
    width: 100%;
    text-align: center;
    margin: 5px 0;

}

#order .form .button-1 {
    width: 100%;
}

#order .form-description {
    text-align: center;
    padding-bottom: 20px;
}
#order a{
    color: #3333CC;
}

#success{
    background: #fff;
    border:20px solid #f4c844;
    padding: 20px;
    font-size: 25px;
    text-align: center;
}